DataGraphView{
	flex-grow: 1;
}
#Grid{
	--thick-lines: 0;
	--spacing:15;
	--grid-background-color: rgb(35, 35, 35);
	--Line-color: rgb(32, 32, 32);
}
.node-description-container {
    background-color: rgb(63, 63, 63);
	color : rgb(210, 210, 210);
    padding: 8px;
}